
#ip-container {
  position: relative;
}
.article,.article2 {
  border: 1px solid #c2c2c2;
  color: #585858;
  width: 23%;
  float: right;
  background: #fff;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
}
/*appear when i press on article*/
.article.blue,.article2.blue{
	background-color:#4A90E2;
	color:white;
}
.article > h2 {
  margin: 0 0 10px;
  color: #337ab7;
}
.article span {
  display: block;
  padding-bottom: 5px;
}
.article strong {
  color: #d7342f;
}
.ip-details {
  display: none;
}
.inlinepopup {
  background: #FBFBFB none repeat scroll 0 0;
  border: 1px solid #c2c2c2;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}
.inlinepopup_content {
  margin: 20px;
  color: #585858;
	
}
.inlinepopup_arrow {
  background: url("../images/images/arrow-top.png") no-repeat scroll center 0;
  height: 32px;
  position: absolute;
  top: -33px;
  width: 32px;
}
.inlinepopupClose {
  background: url("../images/images/close.png") no-repeat scroll 0 0;
  cursor: pointer;
  height: 16px;
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 10px;
  width: 16px;
  z-index: 99;
  overflow: hidden;
}

.inlinepopup_content h2 {
  color: #585858;
  margin: 0;
  padding: 0 0 10px;
}
.inlinepopup_content ul, .inlinepopup_content ol {
  margin: 0 0 20px;
  padding: 0 0 0 20px;
}
.inlinepopup_content .img-middle img {
  margin: 5px auto;
}
.inlinepopup_content a.go-button {
  background: rgba(0, 0, 0, 0) url("../images/images/arrow-right.png") no-repeat scroll right center / 18% auto;
  color: #585858;
  font: 600 18px/150% "Source Sans Pro",sans-serif;
  padding: 5px 30px 5px 0;
}
.article .badge,.article2 .badge{
	background-color:#4A91E3;
	color:white!important;
}
.article.blue .badge,.article2.blue .badge{
	background-color:white;
	color:#4A91E3!important;
}
.expand{
	color:#D7D7D8;
	font-size:15px;
}
.article .prem,.article2 .prem{
	color:#ACACAC;
}
.article.blue .prem,.article2 .prem{
	color:#fff;
}
.blue .expand{
	color:white;
}
.glyphicon-ok:before,.glyphicon-ok2:before {
    content: "\e013";
}
.roundedred3{
	height: 22px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: white;
	
}
.badge{
	padding: 3px 9px;
}
@media(max-width:768px) {
	.article,.article2{
	width:47%;
	}
}
@media (max-width:576px){
	.article,.article2{
		width:100%;
	}
}